$breakpoints: (
    tablette_min: 500px,
    tablette_max: 1023px,
    desktop_min: 1024px,
);

$colors: (
    primary: #9356DC,
    primary-opacity: rgba(147, 86, 220, 0.2),
    secondary: #FF79DA,
    tertiary: #99E2D0,
    gris-fonce: #EAEAEA,
    gris: #F6F6F6,
    box-shadow: #d1d1d1,
    box-shadow_hover: #B3B3B3,
    icons-fonctionnement: #7E7E7E,
    white: white,
    black: #353535,
);

$fonts: (
    titres: Shrikhand,
    texte: Roboto
);